*{
    box-sizing: border-box;
}
body{
    font-family: var(--font-open-sans);
    font-size: 16px;
}

/* zmienne */
:root{
    --page-width: 1352px;
    --section-statistics-height: 530px;
    --section-benefit-width: 1124px; 
    --section-benefit-height: 370px;
    --section-benefit-wrapper:1395px;
    --section-pricing-height:870px;
    --color-primary: #08A6E4;
    --color-primary-shadow:rgba(7,172,230, .16);
    --color-redish:#FB3B64;
    --color-green:#55dfb4;
    --color-black:#000;
    --color-gray:#a5a5a5;
    --color-light-grey:#f7f7f7;
    --color-white:#fff;
    --font-open-sans:"Open Sans",Arial, sans-serif;
    --font-raleway:"Raleway",Arial, sans-serif;
    --open-sans-regular:400;
    --open-sans-light:300;
    --open-sans-bold:700;
    --raleway-light:300;
    --raleway-regular:400;
    --raleway-bold:700;
    --raleway-extra-bold:700;
}
a{
    text-decoration: none;
    cursor:pointer;
}

.buttonsBasic{
    color: var(--color-white);
    text-decoration: none;
    padding: 16px 56px;
    border-radius: 60px;
    background-color: var(--color-primary);
}

.container{
    max-width: var(--page-width);
    margin: 0 auto;
    display: flex; 
}

.bestShopLogo{ 
    /* comes in header and footer */
    color: var(--color-primary);
    font-family: var(--font-raleway);
    font-weight: var(--open-sans-light);
}

/* ***** HEADER ***** */

.header{
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
}
.header__container{
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    font-size: 32px;
}
.header__nav__list{
    display: flex;
    gap: 95px;
}
.header__nav__list li{
    /* height: 70px; */
    display: flex;
}
.header__nav__list a{
    font-size: 11px;
    letter-spacing: 3.28px;
    font-family: var(--font-open-sans);
    font-weight: var(--open-sans-bold);
    text-transform: uppercase;
    color:var(--color-gray);
    padding: 30px 0;
    position: relative;
}
.header__nav__list a:hover{
    color: var(--color-black);
}
.header__nav__list a:hover::after{
    content: "";
    border: 2px solid var(--color-primary);
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
}
/* ***** SECTION SELL MORE ***** */

.sell__more{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 840px;
    background-image: url(../assets/Background.png);
    background-repeat: no-repeat;
    background-position: bottom;
    /* background-size: contain; */
}
.sell__more__title{
    font-size: 49px;
    font-family: var(--font-raleway);
    font-weight: var(--raleway-regular);
    margin-top: 130px;
    margin-bottom: 20px;
}
.sell__more__text{
    font-size: 16px;
    font-family: var(--font-open-sans);
    font-weight: var(--open-sans-regular);
    margin-bottom: 38px;
}
.sell__more__btn{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 440px;
    height: 67px;
    animation: pulse 1.5s infinite alternate; /* Animacja pulsowania */
}
.sell__more__btn:hover{
    box-shadow: 0px 10px 20px 0px rgba(123, 206, 241, 1);
}
.sell__more__btn:active{
    background-color: #FB3B64;
}

@keyframes pulse {
    0% {
      transform: scale(1); /* Początkowy rozmiar */
    }
    100% {
      transform: scale(1.02); /* Końcowy rozmiar */
    }
  }

  .sell__more__img{
    
  }